@{
    ViewData["Title"] = "Payment";
}

<div class="card-details">
    <div class="card-in">
    <p>Pay using Credit or Debit card</p>

    <div class="card-number">
        <label> Card Number </label>
        <input type="number"
               class="card-number-field"
               placeholder="###-###-###" />
    </div>
    <br />
    <div class="date-number">
        <label> Expiry Date </label>
        <input type="date" class="date-number-field"
               placeholder="DD-MM-YY" />
    </div>

    <div class="cvv-number">
        <label> CVV number </label>
        <input type="number" class="cvv-number-field"
               placeholder="xxx" />
    </div>
    <div class="nameholder-number">
        <label> Card Holder name </label>
        <input type="text"
               class="card-name-field"
               placeholder="Enter your Name" />
    </div>
    <button type="submit"
            class="submit-now-btn">
        <a asp-action="Ticket" asp-controller="Ticket" style="text-decoration:none;">Pay</a>
    </button>
    </div>
</div>
    