@model BookMyFlight.Models.AvailableFlight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AvailableFlight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sno" />
            <div class="form-group">
                <label asp-for="FromWhere" class="control-label"></label>
                <input asp-for="FromWhere" class="form-control" />
                <span asp-validation-for="FromWhere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereTo" class="control-label"></label>
                <input asp-for="WhereTo" class="form-control" />
                <span asp-validation-for="WhereTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeates" class="control-label"></label>
                <input asp-for="AvailableSeates" class="form-control" />
                <span asp-validation-for="AvailableSeates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
