@{
    ViewData["Title"] = "Ticket";
}
<div class="ticket">
    <div class="ticket-in">
    <h1>Booking Confirmed ✓</h1>
    <h4>Enjoy your Journey.</h4>
    <a asp-action="Cancel" asp-controller="Ticket">Cancel My Flight</a>
    </div>
</div>